/* Wrapper general para los 2 */
.user {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

/* Íconos */
.icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

/* Wrapper para info del usuario */
.switch {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.avatar {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    padding: 8px;
    overflow: hidden;
    border-radius: 9999px;
}

.username {
    display: inline-block;
    font-weight: 600;
}
